apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: sample-echo-microservice
  namespace: sample-echo-microservice

spec:
  scaleTargetRef:
    apiVersion: argoproj.io/v1alpha1    
    kind: Rollout
    name: sample-echo-microservice-rollout

  minReplicas: 1
  maxReplicas: 4

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Percent
        value: 100
        periodSeconds: 15
      selectPolicy: Max
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
      - type: Percent
        value: 100
        periodSeconds: 15
      - type: Pods
        value: 1
        periodSeconds: 15
      selectPolicy: Max