apiVersion: v1
kind: Secret
metadata:
  name: mlflow-flask-server-secret-key
  namespace: mlflow
  labels:
    app: mlflow
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
type: Opaque
data:
  MLFLOW_FLASK_SERVER_SECRET_KEY: "ZjQ1MWMyNGMyZGYwYjU5ZDEzNDRjMjAwMzc1MDI1Y2I="