apiVersion: batch/v1
kind: Job
metadata:
  name: etcd-secret-writer
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    pod-security.kubernetes.io/enforce: privileged
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "etcd-secret-writer"
    spec:
      automountServiceAccountToken: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
      containers:
      - image: icantkube/kubectl-custom:v0.1
        command: 
          - "/bin/sh"
        args: 
          - "-c"
          - >-
            kubectl config set-credentials sa-user --token=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token) &&
            kubectl config set-context sa-context --user=sa-user &&
            kubectl create secret generic etcd-secrets --save-config 
            --dry-run=client --from-file=/system/secrets/etcd/ca.crt
            --from-file=/system/secrets/etcd/server.crt
            --from-file=/system/secrets/etcd/server.key 
            -o yaml | echo - 
        imagePullPolicy: Always
        name: kubectl
        volumeMounts:
        - mountPath: /system/secrets/etcd
          name: k8setcdcert
        - mountPath: /home/kubeuser
          name: home
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 60 # Run as same user as etcd to access etcd certs in volumne
          seLinuxOptions: {}
          seccompProfile:
            type: RuntimeDefault
      volumes:
      - name: home
        emptyDir: {}
      - hostPath:
          path: /system/secrets/etcd
        name: k8setcdcert
      restartPolicy: Never
      serviceAccount: etcd-secrets-writer
      serviceAccountName: etcd-secrets-writer
  backoffLimit: 3