apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: model-pipeline
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow:v2.14.1
          imagePullPolicy: IfNotPresent
          command:
            - mlflow
          args:
            - server
            - --host
            - 0.0.0.0
            - --port
            - "5000"
            - --backend-store-uri
            - $(MLFLOW_BACKEND_STORE_URI)
            - --default-artifact-root
            - s3://minio/mlflow
            - --app-name
            - basic-auth
          env:
            - name: MLFLOW_SERVER_DISABLE_SECURITY_MIDDLEWARE
              value: "true"
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: minio-credentials-secret
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-credentials-secret
                  key: secret_access_key
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-secret
                  key: password
            - name: MLFLOW_BACKEND_STORE_URI
              value: postgresql://$(DB_USERNAME):$(DB_PASSWORD)@mlflow-postgresql:5432/mlflow
            - name: MLFLOW_TRACKING_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mlflow-credentials-secret
                  key: MLFLOW_TRACKING_USERNAME
            - name: MLFLOW_TRACKING_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlflow-credentials-secret
                  key: MLFLOW_TRACKING_PASSWORD
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 6
