apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default

  sources:
    # traefik Helm chart source
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: "38.0.1"
      helm:
        valueFiles:
          - $values/kubernetes/apps/traefik/values.yaml

    # icantkube repo containing values-override.yaml
    - repoURL: https://github.com/HigherGround189/icantkube.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

  syncOptions:
  - CreateNamespace=true

