apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-bootstrap
  namespace: argocd
spec:
  project: default

  source:
    # Deploy all yamls in create-apps/ and data-sources/ (apps/ and argocd-bootstrap/ are ignored)
    repoURL: https://github.com/HigherGround189/icantkube.git
    targetRevision: main
    path: kubernetes/
    directory:
      recurse: true
      include: "{data-sources/*}"
      

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true