services:
  app:
    image: icantkube/sensor-data:v0.1
    container_name: sensor-data
    ports:
      - "8000:80"
    depends_on:
      - redis

  redis:
    image: redis:7.0
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
