apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-ingress-controller-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  url: https://helm.strrl.dev
