apiVersion: v1
kind: Secret
metadata:
  name: dynamic-localpv-provisioner-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  url: https://openebs.github.io/dynamic-localpv-provisioner
