apiVersion: v1
kind: ConfigMap
metadata:
  name: icantkube-repo-reference
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/HigherGround189/icantkube