apiVersion: v1
kind: Secret
metadata:
  name: mlflow-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  url: https://community-charts.github.io/helm-charts
