apiVersion: v1
kind: Secret
metadata:
  name: postgresql-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  url: https://charts.bitnami.com/bitnami
