apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-test
  labels:
    app: mlflow-test
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 100%
  selector:
    matchLabels:
      app: mlflow-test
  template:
    metadata:
      annotations:
        checksum/config: fa1c8709aa0de912cb487d40452142672963e8c2ed567ee6831d471c5724b065
      labels:
        app: mlflow
        app.kubernetes.io/name: mlflow
        app.kubernetes.io/instance: mlflow-test
    spec:
      serviceAccountName: mlflow-test
      securityContext:
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
      initContainers:
        - name: ini-file-initializer
          image: "busybox:1.32"
          imagePullPolicy: IfNotPresent
          resources:
            {}
          command: ['sh', '-c']
          args:
            - |
              sed -e "s/\$(ADMIN_USERNAME_PLACEHOLDER)/${ADMIN_USERNAME}/g" \
                  -e "s/\$(ADMIN_PASSWORD_PLACEHOLDER)/${ADMIN_PASSWORD}/g" \
                  -e "s/\$(POSTGRES_USERNAME_PLACEHOLDER)/${DB_USERNAME}/g" \
                  -e "s/\$(POSTGRES_PASSWORD_PLACEHOLDER)/${DB_PASSWORD}/g" \
                  /template/auth_template.ini > /config/auth_result.ini
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-external-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-external-secret
                  key: password
            - name: ADMIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mlflow-auth-credentials-external-secret
                  key: username
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlflow-auth-credentials-external-secret
                  key: password
          volumeMounts:
            - name: auth-ini-template-file
              mountPath: /template
              readOnly: true
            - name: ini-file
              mountPath: /config
      containers:
        - name: mlflow
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: false
            runAsGroup: 1001
            runAsNonRoot: true
            runAsUser: 1001
          image: "burakince/mlflow:3.7.0"
          imagePullPolicy: IfNotPresent
          command: ["mlflow"]
          args:
            - server
            - --host=0.0.0.0
            - --port=5000
            - --backend-store-uri=postgresql://
            - --default-artifact-root=./mlruns
            - --app-name=basic-auth
            - --gunicorn-opts='--log-level=info'
          ports:
            - name: mlflow
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: mlflow
            failureThreshold: 5
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /health
              port: mlflow
            failureThreshold: 5
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 3
          resources:
            {}
          env:
            - name: MLFLOW_VERSION
              value: "3.7.0"
            - name: MLFLOW_AUTH_CONFIG_PATH
              value: /etc/mlflow/auth/basic_auth.ini
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-external-secret
                  key: password
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: mlflow-postgresql-credentials-external-secret
                  key: username
            - name: MLFLOW_SERVER_DISABLE_SECURITY_MIDDLEWARE
              value: "true"
          envFrom:
            - configMapRef:
                name: mlflow-test-env-configmap
            - secretRef:
                name: mlflow-test-flask-server-secret-key
          volumeMounts:
            - name: ini-file
              mountPath: /etc/mlflow/auth/basic_auth.ini
              subPath: auth_result.ini
              readOnly: true
      volumes:
        - name: ini-file
          emptyDir: {}
        - name: auth-ini-template-file
          configMap:
            name: mlflow-test-auth-ini-template