architecture: standalone
auth:
  enabled: false

master:
  persistence:
    enabled: true
    size: 8Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi

replica:
  replicaCount: 1

volumePermissions:
  enabled: true

metrics:
  enabled: true
