name: Build & Push Images to Dockerhub

on:
  push:
    branches: [main]
    paths:
      - "src/**/*"

jobs:
  list-changed-directories:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.find-dockerfiles.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Detect Directory Changes
        id: detect
        uses: tchupp/actions-detect-directory-changes@v1

      - name: Show changed directories
        run: |
          echo "Changed directories:"
          echo "${{ steps.detect.outputs.changed }}"

      - name: Declare directory changes as environmental variable
        run: echo "DIRS=${{ steps.detect.outputs.changed }}" >> "$GITHUB_ENV"

      - name: Create Matrix
        id: find-dockerfiles
        run: |
          uv run --with pyyaml python -c '
          import os
          import json
          import yaml
          from pathlib import Path

          with open("imageConfig.yaml", "r") as file:
              yaml = yaml.safe_load(file)

          dirs = os.environ.get("DIRS")
          print(f"Dirs: {dirs}")

          cleaned_dirs = dirs[1:-1].split(",")
          cleaned_paths = [Path(dirs) for dirs in cleaned_dirs]

          matrix = {"include": []}
          for path in cleaned_paths:
              try:
                  dockerfile_path = next(path.rglob("*.Dockerfile"))
                  dockerfile_name = dockerfile_path.name.rstrip(".Dockerfile")
                  dockerfile_autobuild = yaml[dockerfile_name]["autoBuild"] 
                  dockerfile_current_tag = yaml[dockerfile_name]["currentTag"]
                  temp_tag = dockerfile_current_tag.lstrip("v").split(".")
                  temp_tag[-1] = str(int(temp_tag[-1]) + 1)
                  dockerfile_updated_tag = "v" + ".".join(temp_tag)

                  print(f"Dockerfile Path: {dockerfile_path}")
                  print(f"Dockerfile Name: {dockerfile_name}")
                  print(f"Dockerfile Autobuild: {dockerfile_autobuild}")
                  print(f"Dockerfile Tag: {dockerfile_updated_tag}\n")

                  if dockerfile_autobuild:
                      matrix["include"].append({
                          "buildContext": str(path),
                          "dockerfile": str(dockerfile_path),
                          "tag": str(dockerfile_updated_tag)
                      })

              except StopIteration:
                  continue

          print(f"matrix={json.dumps(matrix)}", flush=True)
          with open(os.environ["GITHUB_OUTPUT"], "a") as f:
              f.write(f"matrix={json.dumps(matrix)}\n")
          '

  build:
    needs: list-changed-directories
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-changed-directories.outputs.matrix) }}

    steps:
      - name: Debug
        run:
          echo "buildContext:${{ matrix.buildContext }}\n dockerfile:${{ matrix.dockerfile }}\n tag:${{ matrix.tag }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.buildContext }}
          file: ${{ matrix.dockerfile }}
          tags: ${{ matrix.tag }}
          push: true

