name: Build & Push Images to Dockerhub

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "src/**/*"

jobs:
  list-changed-directories:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.find-dockerfiles.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Detect Directory Changes
        id: detect
        uses: tchupp/actions-detect-directory-changes@v1

      - name: Show changed directories
        run: |
          echo "Changed directories:"
          echo "${{ steps.detect.outputs.changed }}"

      - name: Declare directory changes as environmental variable
        run: echo "DIRS=${{ steps.detect.outputs.changed }}" >> "$GITHUB_ENV"

      - name: Copy script to root
        run: cp .github/image_updater_scripts/find_docerfiles.py .

      - name: Create Matrix
        id: find-dockerfiles
        run: |
          uv run --with pyyaml find_dockerfiles.py

  build:
    needs: list-changed-directories
    if: ${{ fromJSON(needs.list-changed-directories.outputs.matrix).include[0] != null }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-changed-directories.outputs.matrix) }}

    steps:
      - name: Debug
        run:
          echo "buildContext:${{ matrix.buildContext }} dockerfile:${{ matrix.dockerfile }} tag:${{ matrix.tag }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        run: |
          docker build ${{ matrix.buildContext }} -f ${{ matrix.dockerfile }} -t ${{ matrix.tag }}
          docker push ${{ matrix.tag }}
        
