name: Build & Push Images to Dockerhub

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "src/**/*"

jobs:
  list-changed-directories:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.find-dockerfiles.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Detect Directory Changes
        id: detect
        uses: tchupp/actions-detect-directory-changes@v1

      - name: Show changed directories
        run: |
          echo "Changed directories:"
          echo "${{ steps.detect.outputs.changed }}"

      - name: Declare directory changes as environmental variable
        run: echo "DIRS=${{ steps.detect.outputs.changed }}" >> "$GITHUB_ENV"

      - name: Create Matrix
        id: find-dockerfiles
        run: |
          uv run --with pyyaml python -c '
          import os
          import json
          import yaml
          from pathlib import Path

          # Read imageConfig.yaml
          with open("imageConfig.yaml", "r") as file:
              imageConfig = yaml.safe_load(file)

          # Get list of changed directories
          dirs = os.environ.get("DIRS")
          print(f"Dirs: {dirs}")

          # Turn into list
          cleaned_dirs = dirs[1:-1].split(",")

          # Remove root directory if exists
          if "." in cleaned_dirs:
              cleaned_dirs.remove(".")

          def trim_to_src_child(path):
              p = Path(path)
              parts = p.parts
              src_index = parts.index("src")

              return Path(*parts[:src_index + 2])

          # Turn directories into Path objects
          cleaned_paths = {trim_to_src_child(dirs) for dirs in cleaned_dirs}
          print(f"Cleaned Paths: {cleaned_paths}")

          # Loop through Paths to calculate matrix
          matrix = {"include": []}
          for path in cleaned_paths:
              try:
                  # Remove every directory that is not a direct child of src/
                  print(f"\nPath: {path}")

                  # Calculate dockerfile info
                  dockerfile_path = next(path.rglob("*.Dockerfile"))
                  dockerfile_name = dockerfile_path.name.rstrip(".Dockerfile")
                  dockerfile_autobuild = imageConfig[dockerfile_name]["autoBuild"]
                  dockerfile_current_tag = imageConfig[dockerfile_name]["currentTag"]
                  temp_tag = dockerfile_current_tag.lstrip("v").split(".")
                  temp_tag[-1] = str(int(temp_tag[-1]) + 1)
                  dockerfile_updated_tag = "v" + ".".join(temp_tag)

                  print(f"Dockerfile Path: {dockerfile_path}")
                  print(f"Dockerfile Name: {dockerfile_name}")
                  print(f"Dockerfile Autobuild: {dockerfile_autobuild}")
                  print(f"Dockerfile Tag: {dockerfile_updated_tag}")

                  # If Image is has autobuild enabled, add them to matrix
                  if dockerfile_autobuild:
                      matrix["include"].append({
                          "buildContext": str(path),
                          "dockerfile": str(dockerfile_path),
                          "tag": f"icantkube/{dockerfile_name}:{str(dockerfile_updated_tag)}"
                      })
                  else:
                      print(f"Skipping {dockerfile_name}")

              except StopIteration:
                  continue

          # Convert to JSON
          print(f"\nMatrix: {json.dumps(matrix)}", flush=True)
          with open(os.environ["GITHUB_OUTPUT"], "a") as f:
              f.write(f"matrix={json.dumps(matrix)}\n")
          '

  build:
    needs: list-changed-directories
    if: ${{ fromJSON(needs.list-changed-directories.outputs.matrix).include[0] != null }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-changed-directories.outputs.matrix) }}

    steps:
      - name: Debug
        run:
          echo "buildContext:${{ matrix.buildContext }} dockerfile:${{ matrix.dockerfile }} tag:${{ matrix.tag }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.buildContext }}
          file: ${{ matrix.dockerfile }}
          tags: ${{ matrix.tag }}
          push: true
