name: Build & Push Images to Dockerhub

on:
  push:
    branches: [main]
    paths:
      - "src/**/*"

jobs:
  list-changed-directories:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.find-dockerfiles.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Detect Directory Changes
        id: detect
        uses: tchupp/actions-detect-directory-changes@v1

      - name: Show changed directories
        run: |
          echo "Changed directories:"
          echo "${{ steps.detect.outputs.changed }}"

      - name: Declare directory changes as environmental variable
        run: echo "DIRS=${{ steps.detect.outputs.changed }}" >> "$GITHUB_ENV"

      - name: Create Matrix
        id: find-dockerfiles
        shell: python
        run: |
          import os
          import json
          from pathlib import Path

          dirs = os.environ.get("DIRS")
          print(f"Dirs: {dirs}")

          cleaned_dirs = dirs[1:-1].split(",")
          cleaned_paths = [Path(dirs) for dirs in cleaned_dirs]

          matrix = {"include": []}
          for path in cleaned_paths:
              try:
                  matrix["include"].append({
                      "buildContext": str(path),
                      "dockerfile": str(next(path.rglob('*.Dockerfile')))
                  })

              except
                  continue

          print(f"matrix={json.dumps(matrix)}", flush=True)
          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
              f.write(f"matrix={json.dumps(matrix)}\n")

  build:
    needs: list-changed-directories
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.list-changed-directories.outputs.matrix) }}

    steps:
      - name: Debug
        run:
          echo ${{ matrix.buildContext }}
          echo ${{ matrix.dockerfile }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # - name: Build and push
      #   uses: docker/build-push-action@v6
      #   with:
      #     file: 
      #     push: true
      #     tags: 
