name: Update Images

on:
  push:
    paths:
      - "imageConfig.yaml"
  workflow_dispatch:
  workflow_run:
    workflows: ["Build & Push Images to Dockerhub"]
    types: [completed]

permissions:
  contents: write
  actions: read

jobs:
  update-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Update kustomization.yaml & ImageConfig.yaml
        id: images-to-update
        run: |
          uv run --with pyyaml --directory .github/image_updater_scripts/ update_images.py
      
      - name: Commit & push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          rebase: true
          message: 'Updated image versions in imageConfig.yaml & kustomization.yaml'
